*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "fantasy", Times, serif;
}


.navbar {
    background: #30598c;
    line-height: 30px;
    width: 100%;
    display: inline-block;
}

a { color: #fff;
    text-decoration: none;
}
ul li{
    display: inline-block;
}

ul {
   float: right;
    margin-right: 10px ;
}
li{
    margin: 15px ;
}

.body {
    width: 80%;
    height: 200vh;
    background-color: #1dedbb;
}
.contentbody
{display:flex;}
.main-content {
    width: 80%;
    height: 100vh;
    margin: 0 auto;

}
.body1{
    width: 60%;
    height: 100vh;
    background-color: #54bf54;
    float: left;
    flex:2 ;
}
.body2{
    width: 40%;
    height: 100vh;
    background-color: #e499d9;
    float: right;
    flex:1;
}
.content1{
    margin: 10px 0px 0px 20px ;
}
.headdown-content1 {
    display: inline-block;
    font-size: 10px;
    float:left;
    margin-top:15px;
    line-height: 4px;
    width: 100%;
}

.category{

    background-color:#e5e5e5;
    border: 1px solid #c4c4c4 ;
    color: #000;
    padding: 5px;
    margin: 0px 0px 0px 10px ;
}
.box1{
margin: 65px 0px 0px 20px ;
}


h2 {
    margin-top: 10px ;
}

p {
    margin-top: 10px ;
}
.if{display: flex}

.avt{/*----border: solid 2px #92a9ec;------*/
background-color: transparent;
border-radius: 50%;
width: 100px;height:100px;
margin:20px 0px 0px 20px;
}


.nametag{display: flex;
    font-size: 20px;
    margin-top:40px;
    margin-left:10px;
flex-direction: column;}

.e{display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contentbody2{
    display: flex;
    font-size: 12px;
    flex-direction: column;
    margin: 0px 0px 0px 20px;
}
.f{background-color: #356dac;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    margin-bottom: auto;
    padding: 5px 20px;
    border-radius: 50px;}
s
